@import "../../assets/sass/variables";

.container{
    height: 100vh;
    min-height: 750px;
    margin: 0 auto;
    max-width: $bp-desktop;
    padding-top: 50px;
    position: relative;
    width: 100%;

    @media only screen and (max-width: $bp-mobile){
        padding-top: 33px;
    }

    .header{
        align-items: center;
        border-radius: 8px;
        border: 3px solid hsl(217, 16%, 45%);
        display: flex;
        height: 152px;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 705px;
        padding: 15px 30px;
        width: 100%;

        @media only screen and (max-width: $bp-mobile){
            height: 100px;
            margin-top: 0;
            padding: 10px;
            width: 85%;
        }

        img{
            @media only screen and (max-width: $bp-mobile){
                width: 53px;
                height: 53px;
            }
        }
    }

    .score_board{
        align-items: center;
        background: #F9F9F9;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: 116px;
        justify-content: center;
        width: 152px;
        @media only screen and (max-width: $bp-mobile){
            border-radius: 4px;
            height: 74px;
            width: 82px;
        }
        p{
            color: hsl(229, 64%, 46%);
            letter-spacing: 2px;
            margin-bottom: 0;
            text-transform: uppercase;

            @media only screen and (max-width: $bp-mobile){
                font-size: 12px;
            }
        }
        h3{
            color: hsl(229, 25%, 31%);
            font-size: 64px;

            @media only screen and (max-width: $bp-mobile){
                font-size: 40px;
            }
        }
    }

    .rules_btn{
        background: none;
        border-radius: 8px;
        border: 2px solid hsl(217, 16%, 45%);
        bottom: 100px;
        color: #fff;
        cursor: pointer;
        font-family: inherit;
        font-size: 18px;
        height: 40px;
        letter-spacing: 1.25px;
        outline: none;
        position: absolute;
        right: 100px;
        text-transform: uppercase;
        width: 130px;
        @media only screen and (max-width: $bp-mobile){
            bottom: 50px;
            left: 50%;
            right: 50%;
            transform: translateX(-50%);
        }
    }
}
