@import "../../../../assets//sass/variables";

.chip{
    align-items: center;
    background: none;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    height: 150px;
    justify-content: center;
    outline: none;
    padding: 20px;
    width: 150px;

    @media only screen and (max-width: $bp-mobile){
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    &.large{
        height: 300px;
        padding: 35px;
        width: 300px;

        @media only screen and (max-width: $bp-mobile){
            height: 130px;
            padding: 15px;
            width: 130px;
        }
    }

    &_logo{
        background: #17223E no-repeat center;
        border-radius: 50%;
        height: 100%;
        object-fit: contain;
        padding: 0px;
        width: 100%;
        @media only screen and (max-width: $bp-mobile){
            background-size: 45%;
        }

        &.large{
            background-size: 100px;
            @media only screen and (max-width: $bp-mobile){
                background-size: 40%;
            }
        }

        &.rock{
            background-color: #F0F0F0;
            background-image: url("../../../../assets/images/icon-rock.svg");
        }
        &.paper{
            background-color: #F0F0F0;
            background-image: url("../../../../assets/images/icon-paper.svg");
        }
        &.scissors{
            background-color: #F0F0F0;
            background-image: url("../../../../assets/images/icon-scissors.svg");
        }
        &.lizard{
            background-color: #F0F0F0;
            background-image: url("../../../../assets/images/icon-lizard.svg");
        }
        &.spock{
            background-color: #F0F0F0;
            background-image: url("../../../../assets/images/icon-spock.svg");
        }
    }

    &.rock{
        background-image: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    }
    &.paper{
        background-image: radial-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    }
    &.scissors{
        background-image: radial-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    }
    &.lizard{
        background-image: radial-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    }
    &.spock{
        background-image: radial-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    }
}