@import "../../../../assets/sass/variables";

.compare_chip{
    display: flex;
    gap: 75px;
    justify-content: space-between;
    margin: 75px auto 0;
    width: fit-content;

    @media only screen and (max-width: $bp-mobile){
        flex-wrap: wrap;
        gap: 0;
        justify-content: center;
        margin-top: 98px;
        width: 100%;
        .player{
            align-items: center;
            display: flex;
            flex-basis: 50%;
            flex-direction: column-reverse;
            flex-grow: 1;
            order: 1;
        }
        .computer{
            align-items: center;
            display: flex;
            flex-basis: 50%;
            flex-direction: column-reverse;
            flex-grow: 1;
            order: 2;
        }
    }

    h4{
        color: #fff;
        font-size: 22px;
        letter-spacing: 4px;
        margin-bottom: 65px;
        text-align: center;
        text-transform: uppercase;
        @media only screen and (max-width: $bp-mobile){
            flex: 1;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2.5px;
            margin-bottom: 0;
            margin-top: 20px;
        }
    }

    .result{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 350px;
        width: 100%;
        @media only screen and (max-width: $bp-mobile) {
            flex-basis: 100%;
            margin-top: 70px;
            order: 3;
        }
        h3{
            color: #fff;
            font-size: 54px;
            letter-spacing: 1.25px;
            margin-bottom: 13px;
            text-transform: uppercase;
        }
        button{
            border-radius: 10px;
            border: none;
            color: hsl(229, 25%, 31%);
            cursor: pointer;
            font-family: inherit;
            font-size: 18px;
            height: 50px;
            letter-spacing: 1.50px;
            outline: none;
            text-transform: uppercase;
            width: 222px;
        }
    }
}