
.compare_chip{
    margin: 75px auto 0;
    width: 705px;
    display: flex;
    justify-content: space-between;

    img{

    }
    h4{
        text-align: center;
        color: #fff;
        margin-bottom: 65px;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    .player{

    }
    .computer{

    }
}