/* Colors */
$color-primary: #02295a;
$color-secondary: #473dff;
$color-red: #ed3548;

$color-pastel-blue: #adbeff;
$color-light-blue: #bfe2fd;
$color-cool-gray: #9699ab;
$color-light-gray: #d6d9e6;
$color-magnolia: #f0f6ff;
$color-alabaster: #fafbff;
$color-white: #fff;
$color-black: #000;

/* Fonts */
$font-primary: "Barlow Semi Condensed", sans-serif;

/* Breakpoints */
$bp-mobile: 1000px;
$bp-desktop: 1366px;